<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>be Fit be Discipline</title>
        <link rel="icon" href="images/logo (2).png" type="image/x-icon" />
        <link rel="apple-touch-icon" href="images/logo (2).png" />
        <link rel="manifest" href="manifest.webmanifest" />

        <link rel="stylesheet" type="text/css" href="/stylesheets/general.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/modal-view.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Edu+NSW+ACT+Foundation:wght@500;700;800;900&family=Poppins:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <header class="header">
            <a href="/index">
                <img src="/images/logo (1).png" alt="D'fitKlub Logo" class="logo" id="home" />
            </a>
            <nav class="main-nav">
                <ul class="main-nav-list">
                    <li><a href="/" class="main-nav-link">Home</a></li>
                    <li><a href="/index/#about" class="main-nav-link">About Us</a></li>
                    <li>
                        <a href="/index/#programs" class="main-nav-link">Programs</a>
                    </li>
                    <li>
                        <a href="/index/#facilities" class="main-nav-link">Facilities</a>
                    </li>
                    <li>
                        <a href="/index/#testimonials" class="main-nav-link">Testimonials</a>
                    </li>
                    <!-- <li>
                        <a href="#trainers" class="main-nav-link">Trainers</a>
                    </li> -->
                </ul>
            </nav>
            <nav class="profile-nav">
                <ul class="main-nav-user-list">
                    <li>
                        <!-- <div
                            class="main-nav-link profile-btn"
                            onclick="showOverlay()"
                            id="overlay-btn"
                        >
                            <ion-icon name="person-outline"></ion-icon>
                        </div> -->
                        <a href="/signIn" class="main-nav-link profile-btn" target="_blank">
                            <ion-icon name="person-outline"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a href="/store" class="main-nav-link" target="_blank"
                            ><ion-icon name="cart-outline"></ion-icon
                        ></a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h2 class="sub-heading">Admin Sign In</h2>
            <div class="form-container">
                <form action="/adminSignIn" method="post">
                    <input
                        type="text"
                        placeholder="Enter your Username"
                        required
                        class="form-input"
                    /><br /><br />
                    <input
                        type="password"
                        placeholder="Enter your Password"
                        required
                        class="form-input"
                    /><br /><br />

                    <button type="submit">Sign In</button>
                    <br />
                </form>
            </div>

            <br />
            <i style="font-size: 2rem"
                >Here by Mistake ? <span><a href="/sigIn">Click Here</a></span></i
            >

            <footer class="footer" id="footer">
                <div class="grid--footer">
                    <div class="address-col">
                        <address class="contacts grid--3--cols">
                            <div>
                                <figure class="location">
                                    <ion-icon
                                        class="contacts-icon"
                                        name="location-outline"
                                    ></ion-icon>
                                    <figcaption>
                                        <p>Sovereign Tower, CA 94107</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <figure class="mobile">
                                <ion-icon class="contacts-icon" name="call-outline"></ion-icon>
                                <figcaption>
                                    <a class="footer-link" href="tel:415-201-6370">415-201-6370</a>
                                </figcaption>
                            </figure>
                            <figure class="mail">
                                <ion-icon class="contacts-icon" name="mail-outline"></ion-icon>
                                <figcaption>
                                    <a class="footer-link" href="malito:help@fitklub.com"
                                        >help@fitklub.com</a
                                    >
                                </figcaption>
                            </figure>
                        </address>
                    </div>
                    <div class="follow grid--5--cols">
                        <a href="#">
                            <ion-icon class="follow-icon" name="logo-facebook"></ion-icon>
                        </a>
                        <a href="#">
                            <ion-icon class="follow-icon" name="logo-instagram"></ion-icon>
                        </a>
                        <a href="#">
                            <ion-icon class="follow-icon" name="logo-linkedin"></ion-icon>
                        </a>
                        <a href="#">
                            <ion-icon class="follow-icon" name="logo-twitter"></ion-icon>
                        </a>
                        <a href="#">
                            <ion-icon class="follow-icon" name="logo-youtube"></ion-icon>
                        </a>
                    </div>
                    <a class="" href="#">
                        <img
                            src="/images/logo (1).png"
                            alt="D'fitKlub Logo"
                            class="footer-logo logo"
                        />
                    </a>
                    <div class="copy">
                        <p class="follow-us-text">follow us</p>
                        <br />
                        <br />
                        <p class="copyright">
                            Copyright © <span class="year">2023</span> by D-fitKlub.Inc. All rights
                            are reserved.
                        </p>
                    </div>
                </div>
                <div class="credit">Created with <span>&hearts;</span> by &dash; KD</div>
            </footer>
        </main>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script
        type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>

    <script
        defer
        src="// https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>
</html>
