form {
    background-color: rgba(40, 39, 39, 0.75);
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.545);
}

label {
    /* display: block; */
    margin-bottom: 0.8rem;
    color: #fff;
    text-align: center;
}

input,
select {
    width: 40rem;
    height: 5rem;
    font-size: 1.8rem;
    padding: 1rem;
    margin-bottom: 1.6rem;
    box-sizing: border-box;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem inset rgb(60, 60, 60);
}

.form-btn {
    background: #15a33d;
    color: #fff;
    padding: 1rem 4rem;
    width: 32rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    /* margin-left: 13rem; */
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 6px 6px 8px #454545, inset -6px -6px 8px #ffffffd4;
}

.form-btn:hover {
    background-color: #1cd951;
    color: #000;
    transition: all 0.5s ease-in-out;
}

input[type="checkbox"] {
    margin: 1rem;
    font: inherit;
    width: 6rem;
    height: 6rem;
    border-radius: 20%;
    box-shadow: none;
    opacity: 0.5;
}

input[type="checkbox"]:checked {
    opacity: 1;
}

input[type="radio"] {
    margin: 1rem;
    font: inherit;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 20%;
    box-shadow: none;
    opacity: 0.5;
}

::-webkit-input-placeholder {
    color: #363636;
}

::-webkit-scrollbar-thumb {
    background-color: #0f0;
}

.form-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1rem; */
}
