form {
    background-color: rgba(40, 39, 39, 0.75);
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.545);
}

label {
    display: block;
    margin-bottom: 0.8rem;
}

input {
    width: 40rem;
    height: 5rem;
    font-size: 1.8rem;
    padding: 1rem;
    margin-bottom: 1.6rem;
    box-sizing: border-box;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem inset rgb(60, 60, 60);
}

button {
    background: #057023;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    margin-left: 13rem;
    text-align: center;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 6px 6px 8px #454545, inset -6px -6px 8px #ffffffd4; 
}

button:hover {
    background-color: #04aa52;
    color: #000;
    transition: all 0.5s ease-in-out;
}

i {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: #d8d8d8;
}

span > a {
    text-decoration: none;
    color: #00da0f;
}

span > a:hover {
    /* text-decoration: underline; */
    color: #00ff00;
    transition: all 0.5ms;
    cursor: pointer;
}

.form-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1rem; */
}
